/********* GOOGLE FONTS *********/
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap');
/********* VARIABLES CSS *********/
:root 
{
  --header-height: 3.5rem; /*56px*/

  /******* Colors *******/  /*Color mode HSL(hue, saturation, lightness)*/
 
  --color-gray: rgb(158, 152, 179);
  --color-white: #FFF;

  /* COLOR DARK OPTIONS */
  /* --color-dark: #1f1e24;
  --color-dark: #180410; */

  /* DEBATING COLOR */
  --color-primary:#fcc38a;
  --color-dark: #332412 ;
  --color-light: #f18b24;

  /* OR */
  /* --color-primary:#f7a34f;
  --color-dark: #14040e;
  --color-light: #f18b24; */

  /* OR */
  /* --color-primary:#fcc38a;
  --color-dark: #14040e;
  --color-light: #f18b24; */



  /******* Font and typography *******/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: 'Rubik', sans-serif;
  --h1-font-size: 2.25rem;
  --h2-font-size: 1.75rem;
  --h3-font-size: 1.25rem;
  --normal-font-size: 1rem;
  --small-font-size: .875rem;

  /******* Font weight *******/
  --font-medium: 400;
  --font-semi-bold: 600;

  /******* Margenes Bottom *******/
  /*.5rem = 8px | 1rem = 16px ...*/
  --m-0-5: .5rem;
  --m-0-75: .75rem;
  --m-1: 1rem;
  --m-1-5: 1.5rem;
  --m-2: 2rem;
  --m-2-5: 2.5rem;

  /******* Card padding *******/
  --card-padding:1.9rem 0.95rem;

  /******* Border radius *******/
  --border-radius: 1.25rem;

  /******* Box shadow *******/
  --box-shadow: 0px 5px 20px 0px rgba(69, 67, 96, 0.1);
}

  
/******* Scroll Bar *******/

/* ::-webkit-scrollbar{
  width: 16px;
}


::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(26, 26, 26);
  background-color: rgb(204, 204, 204);
} */


/* Handle */
/* ::-webkit-scrollbar-thumb {
  background-color: var(--color-primary);
} */



/******* Responsive Typography *******/
@media screen and (max-width:992px) {
  :root{
    --h1-font-size: 1.75rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
  }

}

/******* Base *******/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html{
  scroll-behavior: smooth;
}

body,input,button,textarea{
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body{
  background-color: var(--color-light);
  color: var(--color-dark);
  line-height: 1.7;
  font-weight: var(--font-medium);
  position: relative;
}

img{
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
  color: var(--color-dark);
}

h1,h2,h3{
  font-weight: var(--font-semi-bold);
}

h1{
  font-size: var(--h1-font-size);
}

h2{
  font-size: var(--h2-font-size);
}

h3{
  font-size: var(--h3-font-size);
}

.btn{
  background-color: var(--color-dark);
  color: var(--color-primary);
  padding: 10px 30px;
  border: none;
  border-radius: 10px;
}

@media screen and (max-width: 600px) {
  .btn{
    padding: 5px 10px;
  }
}

.btn:hover{
  cursor: pointer;
}

.fa-solid{
  cursor: pointer;
}

/******* Layout *******/
.container{
  max-width: 1024px;
  margin: auto;
  /* overflow: hidden; */
}


/* BASIC STYLING */

/* HEADER */

.header{
  background-color: var(--color-dark);
  color: var(--color-primary);
  padding: var(--m-1);
}

.header .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hdr-1{
  display: flex;
  align-items: center;
  gap: 8px;
}

.hdr-1 i{
  font-size: var(--h2-font-size);
  padding-bottom: 4px;
}

.hdr-2 ul{
  display: flex;
  justify-content: space-between;
  gap: 20px;
  text-transform: uppercase;
}

.hdr-2 ul li{
  color: var(--color-primary);
}

.hdr-3 .fa-bars{
  display: none;
}


/* WELCOME DISPLAY */

.welcome-display{
  height: 49vh;
  background: linear-gradient(#4a1d1867, #4a1d185b), url(/Img/bg-1.jpg);
  background: linear-gradient(rgba(0, 0, 0, 0.915), rgba(56, 48, 2, 0.877)), url(/Birthday_1/Img/bg-1.jpg);
  background: linear-gradient(rgba(0, 0, 0, 0.915), #4e2801e5), url(/Img/bg-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  /* background-position: center; */
}

.welcome-display .container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: var(--m-1) 0;
  height: 100%;
}

.welcome-display h1{
  color: var(--color-primary);
}

.welcome-display h1 span{
  font-size: calc(var(--h1-font-size) + 8px);
}

.welcome-display h1 b{
  font-size: calc(var(--h1-font-size) + 4px);
}

.welcome-display h1 p{
  font-family: 'Lucida Handwriting', 'Brush Script MT', cursive;
  font-size: calc(var(--h1-font-size) + 5px);
}

.welcome-display img{
  height: 285px;
  border-radius: 20px;
  border: 4px double var(--color-primary);
}


/* SUN HEADER */

.sub-header{
  background-color: var(--color-dark);
  color: var(--color-primary);
  padding: 0 var(--m-0-75);
}

.sub-header ul{
  width: 65%;
  display: flex;
  /* justify-content: space-between; */
}

.sub-header li{
  width: 180px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: larger;
  border-radius: 10px 10px 0 0;
  transition: all .5s;
}

.sub-header li:hover{
  cursor: pointer;
  border: 1px solid var(--color-light);
}

.active{
  color: var(--color-dark);
  background-color: var(--color-light);
}

/* DIVISION */

.division .container{
  padding: var(--m-2-5) 0;
  display: flex;
  justify-content: center;
  gap: 50px;
}

.div-1{
  width: 70%;
}

.celebrant-about{
  margin-top: var(--m-2);
}


/* WISHES */

.wishes{
  margin-top: var(--m-2-5);
}

.wish-container{
  margin-top: var(--m-2);
  padding: var(--m-1-5);
  display: flex;
  justify-content: left;
  background-color: var(--color-primary);
  border-radius: 15px;
  align-items: center;
  gap: 20px;
  box-shadow: var(--color-dark);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.wish-container i{
  font-size: 60px;
}


.enter-wish{
  margin: var(--m-2-5) 0;
  background-color: var(--color-primary);
  padding: var(--m-1-5);
  border-radius: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.enter-wish textarea{
  margin-top: var(--m-1);
  width: 100%;
  height: 200px;
  border: 1px solid var(--color-dark);
  border-radius: 10px;
  resize: none;
  padding: var(--m-1);
  color: var(--color-dark);
}

.enter-wish input{
  padding: 7px;
  border-radius: 5px;
  border: 1px solid;
}

.enter-wish textarea:focus{
  border: 1px solid var(--color-dark);
  outline: none;
}

.btn-ctnr{
  display: flex;
  justify-content: end;
  margin-top: var(--m-1);
}

.sub-btn{
  padding: 5px;
  border-radius: 5px;
  border: 1px solid var(--color-dark);
}

/* DIV 2 */

.div-2 {
  margin-top: 25px;
}

.div-2 .sub{
  background-color: var(--color-primary);
  padding: var(--m-1);
  border-radius: 15px;
  margin-bottom: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.img-container{
  height: 425px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: var(--m-1);
}

.sub-two img{
  max-width: 280px;
  margin: auto;
  border-radius: 20px;
  border: 4px double var(--color-dark);
  /* border: 2px dotted var(--color-dark); */
  transition: all 1s;
  height: fit-content;
}

.sub-two button{
  margin: 20px auto 0;
  display: block;
}

.sub-three .info{
  display: flex;
  gap: 20px;
  align-items: center;
  margin-top: 10px;
}

.info i{
  font-size: 50px;
}

.sub-four h3{
  padding-bottom: 10px;
}

.sub-four p{
  border-top: 1px solid var(--color-dark);
  padding-top: 10px;
}

/* back to top */

.back-2-top{
  display: none;
  position: fixed;
  bottom: 30px;
  right: 100px;

  border:  1px solid var(--color-dark);
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  font-size: 30px;
}


/* FOOTER */

footer{
  border-top: 1px solid var(--color-dark);
  background-color: var(--color-dark);
  color: #F9E5C2;
  text-align: center;
}

footer .container{
  display: flex;
  justify-content: space-between;
  padding: var(--m-1);
}

footer a{
  color: var(--color-light);
}




/* STYLING GALLERY */

.gallery{
  background-color: var(--color-primary);
  padding: var(--m-1);
  border-radius: 15px;
}

.gall-hd{
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--m-2);
}

.pictures{
  margin-left: auto;
  margin-right: auto;
  display: column;
  columns: 3;
  gap: 1em;
  margin-top: var(--m-1);
}

@media screen and (max-width: 600px) {
  .pictures{
    columns: 2;
  }
}

.pictures img{
  margin-bottom: 1em;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid var(--color-dark);
}

/* SLIDE SHOW VIEW */


.slide-view{
  display: none;
  padding: var(--m-0-5);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 100vh;
  position: relative;
}

.slide-view .font{
  font-size: 50px;
  color: var(--color-dark);
}



@media screen and (max-width: 500px) {
  .slide-view .font{
    font-size: 25px;
  }

  .slide-img button{
    top: 30px;
  }
}

.slide-img{
  width: 80%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.slide-img img{
  max-height: 80vh;
  border-radius: 10px;
  border: 4px double var(--color-dark);
  transition: all 5s;
}

.animate{
  transform: scale(1.1);
}

.slide-img button{
  position: absolute;
  top: 10px;
  z-index: 10;
}

.count-indicator{
  position: absolute;
  bottom: 10px;
  font-weight: bold;
  font-size: var(--h3-font-size);
}

.x-mark{
  position: absolute;
  top: 0px;
  right: 10px;
  font-size: var(--h2-font-size);
}

/* ALLOW MUSIC */

.overlay{
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  background-color: #4a1d1898;
  z-index: 18;
}

.allow-play{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;
  background-color: var(--color-light);
  padding: var(--m-2);
  border-radius: 10px;
  text-align: center;
  width: fit-content;
}

.btn-cont{
  display: flex;
  gap: 10px;
  justify-content: center;
}


/* MEDIA QUERY */


@media screen and (max-width: 1043px) {
  .container, .division{
    padding: 0 30px;
  }

  .sub-header .container{
    padding: 0 30px;
  }
}

@media screen and (max-width: 900px){
  .division .container{
    flex-wrap: wrap;
  }

  .div-1{
    width: 90%;
  }
}

@media screen and (max-width: 800px){
  .header{
    position: fixed;
    width: 100%;
    top: 0;
  }

  .welcome-display{
    margin-top: 73px;
  }

  .hdr-3{
    display: flex;
    gap: 10px;
    justify-content: center;
  }

  .hdr-3 .fa-solid{
    display: block;
    font-size: 25px;
  }
  
  .hdr-2{
    position: fixed;
    width: 300px;
    max-width: 60%;
    height: 100vh;
    top: 73px;
    transition: all 1s;
    right: 0;
    transform: translate(450px, 0);
    background-color: var(--color-light);
    padding: var(--m-2);
    color: var(--color-dark);
    border: 2px solid var(--color-dark);
    list-style: none;
  }
  
  hr{
    border: none;
    border-top: 2px solid var(--color-dark);
    margin: 20px 0;
    width: 200%;
    position: relative;
    left: -33px;
  }

  .added-list{
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .hdr-2 ul{
    display: flex;
    flex-direction: column;
  }
  .open{
    transform: translate(0, 0);
  }
}

@media screen and (max-width: 600px) {
  .container{
    padding: 0 15px;
  }
  .sub-header .container{
    padding: 0 15px;
  }
  .division{
    padding: 0 15px;
  }

  .hdr-3 .fa-solid{
    display: block;
    font-size: 20px;
  }

  .welcome-display .container{
    padding: 30px 15px;
  }

  .welcome-display{
    height: 75vh;
  }

  .welcome-display .container{
    flex-direction: column;
  }

  .welcome-display h1{
    text-align: center;
    margin-bottom: var(--m-1);
  }

  .welcome-display img{
    height: 200px;
  }

  .div-1{
    width: 100%;
  }
  .back-2-top{
    right: 20px;
    width: 30px;
    height: 30px;
    font-size: 20px;
  }

  .sub-header li{
    padding: 0 10px;
    height: 48px;
  }

  .wish-container{
    gap: 10px;
  }

  .wish-container i{
    font-size: 30px;
  }
}

@media screen and (max-width: 500px) {

  .container{
    padding: 10px;
  }

  .sub-header .container{
    padding: 0 10px;
  }

  .welcome-display img{
    height: 215px;
  }
    
  .header{
    padding: 10px 0;
  }

  .wish-container{
    flex-direction: column;
    gap: 20px;
  }

  .wish-container i{
    font-size: 45px;
  }

  .enter-wish textarea{
    height: 170px;
  }

  .allow-play{
    width: 80%;
  }
}

.video{
  display: flex;
  justify-content: center;
  
}
.vid{
  width: 65%;
  margin-top: 30px;
  text-align: center;
}
